<nav>
<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>

<form method="post" action="/suppliers/<%= @supplier.id %>">


  <label for="name">Name: </label>
  <input id="name" type="text" value="<%= @supplier.name %>" name="name" />

  <label for="distance">Distance: </label>
  <input id="distance" type="text" value="<%= @supplier.distance %>"name="distance" />


  <input type="submit" value="Submit Changes"/>

</form>
