<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li>
</ul>

<h1> Suppliers </h1>

<% for supplier in @suppliers %>
<p>Name: <%= supplier.name() %></p>
<p>Distance: <%= supplier.distance() %></p>


<p><a href="/suppliers/<%=supplier.id()%>">See Supplier</a></p>
<p><a href="/suppliers/edit/<%=supplier.id%>">Edit Supplier</a></p>

<% end %>
