<p><a href="/">home</a></p>

<form method="post" action="/suppliers">


  <label for="name">Name: </label>
  <input id="name" type="text" name="name" />

  <label for="distance">Distance: </label>
  <input id="distance" type="text" name="distance" />


  <input type="submit" value="add"/>

</form>
