<h1>Adding Supplier</h1>
<nav>
  <ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>

<div class="forms">
<form method="post" action="/suppliers">
  <label for="name">Name: <br></label>
  <input id="name" type="text" name="name" />
    <br>
  <label for="distance">Distance: <br></label>
  <input id="distance" type="text" name="distance" />
  <br>
  <input type="submit" value="add"/>
</form>
</div>
