<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>

<% for supplier in @suppliers %>
<p>Name: <%= supplier.name() %></p>
<p>Products: <%= supplier.products() %></p>
<% end %>
