<a href="/">home</a>   <a href="/products">Products</a>    <a href="/suppliers">Suppliers</a>



<p>Name: <%= @supplier.name %></p>
<p>Distance: <%= @supplier.distance %></p>


<a href="/suppliers/products/<%=@supplier.id%>/">see this supplier's products</a>
