<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>



<p>Name: <%= @supplier.name %></p>
<p>Distance: <%= @supplier.distance %></p>


<a href="/suppliers/products/<%=@supplier.id%>/">see this supplier's products</a>
