

<form method="post" action="/products">


  <label for="name">Name: </label>
  <input id="name" type="text" name="name" />

  <label for="type">Type: </label>
  <input id="type" type="text" name="type" />

  <label for="qty">Qty: </label>
  <input id="qty" type="text" name="qty" />

  <!-- <label for="supplier">Select a Supplier:</label>
  <select id="supplier" name="supplier">
    <% for supplier in @suppliers %>
    <option value = <%= supplier.id %> > <%= supplier.name %> </option>
    <%end%>
  </select> -->

  <input type="submit" value="add"/>

</form>
